<!--Controls the HTML for the help page.-->
{% extends "_base.html" %} 
{% block content %}
{% load static %}
<div class="card-help">
  <div class="card-body align-items-center">
    <h1
      class="text-left"
      style="
        font-family: Arial;
        color: darkslategray;
        font-size: 25px;
        font-weight: 700;
      "
    >
      Help Center
    </h1>
    <br />
    <p
      class="text-left"
      style="font-family: Arial; color: black; font-size: 14px"
    >
      The help section provides information of how to use FAPS website and API.
      There are two options for input.
    </p>
    <ul
      class="text-left"
      style="font-family: Arial; color: black; font-size: 13px"
    >
      <li>Single-Protein Lookup</li>
      <li>CSV-Based Search</li>
    </ul>
    <p
      class="text-left"
      style="font-family: Arial; color: black; font-size: 14px"
    >
      In the Single-Protein Lookup, you can search with your protein of interest
      with an accession ID (e.g. "P08670", "Q9Y490"). You can also upload a .csv
      file with a column name 'Accession' in the CSV-Based Search option. The
      output will demonstrate the simulated 3-D structure of proteins and some
      experimentally determined secondary structure information, which includes
      helix percentage, known partial helix percentage, beta strand percentage,
      known partial beta strand percentage, turn/random coil percentage, and
      known partial turn percentage for each protein.
    </p>
    <br />
    <img src="{% static "help_up.png" %}" alt="help1" class="img-center">
    <br />
    <h1
      class="text-left"
      style="
        font-family: Arial;
        color: darkslategray;
        font-size: 16px;
        font-weight: 700;
      "
    >
      Results
    </h1>

    <p
      class="text-left"
      style="font-family: Arial; color: black; font-size: 14px"
    >
      The result summarizes a set of secondary structure information of the
      protein of interest in a table. First column of the table indicates the
      accession ID/ protein ID that was searched for and the second column
      provides information about the simulation type. Next three columns (Sim
      Alpha, Sim Beta, Sim Turn) give information about the 3-D structure
      information that was experimentally determined from SWISS-PROT database.
      The next nine columns (Uniprot Alpha, Uniprot Beta, Uniprot Turn, Known
      Proportion, Unknown Proportion, Sequence Length, Overall Alpha, Overall
      Beta, Overall Turn) represent secondary structure information that was
      computed from UniProt database for a given accesion ID.
    </p>
    <p
      class="text-left"
      style="font-family: Arial; color: black; font-size: 14px"
    >
      Each of the structure’s proportion (alpha, beta and turn) was calculated
      by dividing their total length by the sum of all parameter’s length. For
      instance, the total length of alpha helix structure of P08670 was 194 and
      the sum of all structures’ (alpha helix, beta strand and turn) length was
      203. Therefore, the alpha percentage of the accession code P08670 was
      calculated (194/203)*100 or 95.5665% (Uniprot Alpha). The known proportion
      and unknown proportion are the total percentages of known structure vs
      total protein sequence length. So the known proportion is the sum of the 3
      secondary structures and the unknown is just the known proportion
      subtracted from 1.
      <br />
    </p>
  </div>
</div>
{% endblock %}
