<!DOCTYPE html>
<html>
    <body>
        <h1>BIOSUN Lab Protein Database</h1>
        <p>
            This database contains secondary structure and sequence length data for proteins.<br/>
            The data source is marked under SIM/Uniprot, as the database contains both our simulated values and experimental values taken from Uniprot.<br/><br/><br/>
        </p>
        <h3>Single-Protein Lookup</h3>
        <form action = "{% url 'searchresults' %}" method = "get">
            <input name = "q" type = "text" placeholder = "Protein Accesion Code">
            <button type = "submit">Search</button>
        </form>
        <h3>CSV-Based Search</h3>
        <form method = "post" enctype = "multipart/form-data" action = "{% url 'csvsearch' %}">
            {% csrf_token %}
            <input type = "file" name = "uploadedCSV">
            <button type = "submit">Upload CSV</button>
        </form>
    </body>
    <p>
        <br/>Created by Lucas Wilken for BIOSUN/Biosensing Lab, organized by Dr. Dali Sun.<br/><br/>
        This work used resources of the Center for Computationally Assisted Science and Technology (CCAST) at North Dakota State University.
    </p>
</html>