<!--Controls the HTML for the index, and the associated buttons and forms.-->
{% extends "_base.html" %} {% block content %}
<div class="container-fluid">
  <p
    class="text-center"
    style="font-family: Arial; color: lightslategrey; font-size: 15px"
  >
    <small>
      This database contains secondary structure and sequence length data for
      proteins.<br />
      Each query returns two data sets: one for Bioinformatics data taken from
      Uniprot, and one for simulated structure data.<br /><br />
      <b>Current Number of Entries:</b><br />
    </small>
    {% for num in db_size %}
    <small>{{ num }}</small>
    {% endfor %}
  </p>
  <!-- 
  <div class="card">
    <br /><br /><br />
    <div class="card-body align-items-center">
      <div class="row justify-content-center align-items-center">
        <div class="col-5 text-center">
          <h5
            style="
              font-family: Times New Roman, Times, serif;
              color: darkslategrey;
              font-size: 20px;
            "
          >
            Single-Protein Lookup
          </h5>
          <p style="font-family: Arial; color: lightslategrey; font-size: 14px">
            Enter a single accession code to filter results.
          </p>
          <form action="{% url 'searchresults' %}" method="get">
            <input name="q" type="text" placeholder="Protein Accession Code" />
            <button type="submit" class="button-size button5">SEARCH</button>
          </form>
        </div>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <div class="col-5 text-center">
          <h5
            style="
              font-family: Times New Roman, Times, serif;
              color: darkslategrey;
              font-size: 20px;
            "
          >
            CSV-Based Search
          </h5>
          <p style="font-family: Arial; color: lightslategrey; font-size: 14px">
            Upload a .csv file with a column name 'Accession' to use as a list
            to search with.
          </p>
          <form
            method="post"
            enctype="multipart/form-data"
            action="{% url 'csvsearch' %}"
          >
            {% csrf_token %}
            <input type="file" name="uploadedCSV" />
            <button type="submit" class="button-size button5">UPLOAD</button>
          </form>
        </div>
      </div>
    </div>
  </div> -->

  <div class="row height d-flex justify-content-center align-items-center">
    <div class="col-md-8">
      <div class="search">
        <i class="fa fa-search"></i>

        <form
          id="search-form"
          method="post"
          enctype="multipart/form-data"
          action="{% url 'csvsearch' %}"
        >
        {% csrf_token %}
          <input
            type="file"
            accept=".csv"
            onchange="print()"
            style="display: none"
            id="file"
            name="uploadedCSV"
            class="form-control"
          />
          {% csrf_token %}
          <input
            type="text"
            name="q"
            id="inputSearch"
            class="form-control"
            placeholder="Enter Single-Protein code or Upload a .csv file with a column name 'Accession'"
          />

          <div class="search-controls">
            <button
              class="btn"
              type="button"
              title="Upload a .csv file with a column name 'Accession' "
              id="attachement"
              onclick="document.getElementById('file').click();"
            >
              <i class="fa-solid fa-paperclip"></i> Upload file
            </button>
            <button id="search-btn" type="submit" class="btn">Search</button>
          </div>
        </form>
      </div>
    </div>
  </div>

  <script>
    function print() {
      const inputFile = document.getElementById("file");

      const inputSearch = document.getElementById("inputSearch");
      inputSearch.value = inputFile.value;
    }

    let search_form = document.getElementById("search-form");
    let search_input = document.getElementById("inputSearch");
    let search_button = document.getElementById("search-btn");

    search_button.addEventListener("click", (e) => {
      e.preventDefault();
      if (
        !search_input.value.endsWith(".csv") ||
        !search_input.value.endsWith(".csv")
      ) {
        search_form.method = "get";
        search_form.action = "{% url 'searchresults' %}";
      }

      search_form.submit();
    });
  </script>
</div>
{% endblock %}
