<!--Controls the HTML for the index, and the associated buttons and forms.-->
<!DOCTYPE html>
<html>
    <body>
        <h1>BIOSUN Lab Protein Database</h1>
        <p>
            This database contains secondary structure and sequence length data for proteins.<br/>
            Each query returns two data tables: one for Bioinformatics data taken from Uniprot, and one for simulated structure data.<br/><br/><br/>
        </p>
        <h3>Single-Protein Lookup</h3>
        <p>Enter a single accession code to filter results. Leaving blank will bring up all entries in database.</p>
        <form action = "{% url 'searchresults' %}" method = "get">
            <input name = "q" type = "text" placeholder = "Protein Accesion Code">
            <button type = "submit">Search</button>
        </form>
        <h3>CSV-Based Search</h3>
        <p>Upload a .csv file with a column name 'Accession' to use as a list to search with.</p>
        <form method = "post" enctype = "multipart/form-data" action = "{% url 'csvsearch' %}">
            {% csrf_token %}
            <input type = "file" name = "uploadedCSV">
            <button type = "submit">Upload</button>
        </form>
    </body>
    <p>
        <br/><br/>Created by Lucas Wilken for BIOSUN/Biosensing Lab, organized by Dr. Dali Sun.<br/>
        This work used resources of the Center for Computationally Assisted Science and Technology (CCAST) at North Dakota State University.
    </p>
</html>