<!--Controls the table display for queried accession code. Display 2 separate tables, one for sim and one for uni.-->
<!DOCTYPE html>
<html>
<style>
    table, th, td {
        border: 1px solid black;
        border-collapse: collapse;
        text-align: left;
    }
</style>

<h1>Protein Accession Query</h1>
{% if prot_list %}
    <h3>Search Results</h3>
    <table style = "width:100%", class = "proteinResults">
        <tr>
            <th>Accession Code</th>
            <th>Simulation Type</th>
            <th>Sim Alpha</th>
            <th>Sim Beta</th>
            <th>Sim Turn</th>
            <th>Sim Length</th>
            <th>Uniprot Alpha</th>
            <th>Uniprot Beta</th>
            <th>Uniprot Turn</th>
            <th>Known Proportion</th>
            <th>Unknown Proportion</th>
            <th>Sequence Length</th>
            <th>Overall Alpha</th>
            <th>Overall Beta</th>
            <th>Overall Turn</th>
        </tr>
        {% for Protein in prot_list %}
        <tr>
                <td>{{ Protein.0 }}</td>
                <td>{{ Protein.1 }}</td>
                <td>{{ Protein.2 }}</td>
                <td>{{ Protein.3 }}</td>
                <td>{{ Protein.4 }}</td>
                <td>{{ Protein.5 }}</td>
                <td>{{ Protein.6 }}</td>
                <td>{{ Protein.7 }}</td>
                <td>{{ Protein.8 }}</td>
                <td>{{ Protein.9 }}</td>
                <td>{{ Protein.10 }}</td>
                <td>{{ Protein.11 }}</td>
                <td>{{ Protein.12 }}</td>
                <td>{{ Protein.13 }}</td>
                <td>{{ Protein.14 }}</td>
        </tr>
        {% endfor %}
    </table>
{% else %}
    <i>No results found. Please refine your search, or check that the accession code is correct.</i>
{% endif %}    
</html>