<!--Controls the HTML for the index, and the associated buttons and forms.-->

{% extends "_base.html" %}
{% block content %}
    <div class="container-fluid">
        <p
        class="text-center"
        style="font-family: Arial; color: lightslategrey; font-size: 15px"
        >
            <small>
                This database contains secondary structure and sequence length data for proteins.<br />
                Each query returns two data tables: one for Bioinformatics data taken from Uniprot, and one for simulated structure data.<br />
            </small>
        </p>
    </div>

    {% if prot_list %}
    <div class="styled-table table-responsive col align-self-center mx-auto col-md-10">
        <table
          class="table table-hover "
          id="proteinTable"
          style="text-align: center;"
        >
          <thead>
            <tr>
              <th style="width: 15%;">Accession Code</th>
              <th >Protein Name</th>
              <th >Simulation Type</th>
              <th style="width: 15%;">Sequence Length</th>
              <th >Overall Constitute</th>
              <th style="width: 5%;">Detail</th>
            </tr>
          </thead>
          <tbody>
            {% for Protein in prot_list %}
            <tr style="cursor: pointer; text-align: center">
              <td >{{ Protein.0 }}</td>
              <td >{{ Protein.16 }}</td>
              <td >{{ Protein.1 }}</td>
              <td >{{ Protein.5 }}</td>
              <td ></td>
              <td>
                <button type="button" class="btn btn-floating">
                  <a href="{% url 'chartResult'%}?id={{ Protein.0 }} ">
                    <i
                      class="far fa-arrow-alt-circle-right"
                      style="font-size: 1.5rem;color: cadetblue;"
                    >
                    </i>
                  </a>
                </button>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
        </div>
        
        <div class="d-inline-flex p-2 justify-content-center" style="text-align: center">
          <a class="btn export_btn m-2" id="csvTableDownload" href=""
               title="Export to CSV" onclick="tableToCSV('proteinTable')" style="text-align: center">
              <i class="fa-solid fa-file-image"></i>Export
          </a>
      </div>

    </div>

    <script>

        var table = document.getElementById("proteinTable");
        var dataset = {
            label: [{% for value in prot_list %}'{{value.0}}', {% endfor %}],
        overall_alpha: [{% for value in prot_list %}'{{value.12}}', {% endfor %}],
        overall_beta: [{% for value in prot_list %}'{{value.13}}', {% endfor %}],
        overall_turn: [{% for value in prot_list %}'{{value.14}}', {% endfor %}],
        overall_other: [{% for value in prot_list %}'{{value.15}}', {% endfor %}],
        }
        var tableLab = [];
        //loop all rows and form data array
        for (var i = 1; i < table.rows.length; i++) {
  
            tableLab.push(table.rows[i].cells[0].innerHTML)
            var canvas = document.createElement("canvas");
            canvas.setAttribute("id", "myChart" + i);
            canvas.height = 50;
            table.rows[i].cells[4].appendChild(canvas);
        }
        //console.log(tableArr[0][0].overall_alpha);
  
        //loop array of data and create chart for each row
        var labels = [{% for value in prot_list %}'{{value.0}}', {% endfor %}]
        const color_turn = '#BCBCBC'
        const color_alpha = '#FF8286'
        const color_beta = '#A19DD9'
        const color_other = '#7A7A7A'
  
        // tableArr.forEach(function (d, i) {
  
        //     console.log("index: ",i)
        //     console.log(d[i])
        // })
        tableLab.forEach(function (d, i) {
            console.log(dataset.label[i])
            var chartID = "myChart" + (i + 1)
            var ctx = document.getElementById(chartID).getContext('2d');
            var myChart = new Chart(ctx, {
                type: 'horizontalBar',
                data: {
                    labels: [''],
                    datasets: [
                        {
  
                            label: 'Overall Alpha',
                            data: [dataset.overall_alpha[i]],
                            backgroundColor: color_alpha,
                        },
                        {
                            label: 'Overall Beta',
                            data: [dataset.overall_beta[i]],
                            backgroundColor: color_beta,
                        },
                        {
                            label: 'Overall turn',
                            data: [dataset.overall_turn[i]],
                            backgroundColor: color_turn,
                        },
                        {
                            label: 'Overall Other',
                            data: [dataset.overall_other[i]],
                            backgroundColor: color_other,
                        }
                    ]
                },
                options: {
                    responsive: true,
                    scales: {
                        xAxes: [{ stacked: true, barThickness: 10, display: false, }],
                        yAxes: [{ stacked: true, barThickness: 20, display: false, }]
                    },
                    legend: {
                        display: false
                    },
                }
            });
        })
        function tableToCSV(table_id, separator = ',') {
            var rows = document.querySelectorAll('table#' + table_id + ' tr');
            var csv = [];
            for (var i = 0; i < rows.length; i++) {
                var row = [], cols = rows[i].querySelectorAll('td, th');
                cols.pop()
                cols.pop()
                for (var j = 0; j < cols.length; j++) {
                    var data = cols[j].innerText.replace(/(\r\n|\n|\r)/gm, '').replace(/(\s\s)/gm, ' ')
                    data = data.replace(/"/g, '""');
                    row.push('"' + data + '"');
                }
                csv.push(row.join(separator));
            }
            var csv_string = csv.join('\n');

            var filename = table_id + '.csv';
            var link = document.createElement('a');
            link.style.display = 'none';
            link.setAttribute('target', '_blank');
            link.setAttribute('href', 'data:text/csv;charset=utf-8,' + encodeURIComponent(csv_string));
            link.setAttribute('download', filename);
            document.body.appendChild(link);
            link.click();
            document.body.removeChild(link);
        }
      </script>
    {% else %}
    
    {% include "partials/_invalid-card.html" with msg="No results found.Please refine your search, or check that the accession code is correct." only %}
    
    {% endif %}

    {% endblock %}
