altgraph==0.17.2
anyio==3.6.1
asgiref==3.5.2
asttokens==2.0.4
attrs==21.4.0
autopep8==1.6.0
AwesomeTkinter==2021.11.8
certifi==2022.6.15
charset-normalizer==2.1.0
click==8.1.3
colorama==0.4.5
configparser==5.0.2
cx-Freeze==6.11.1
cx-Logging==3.0
cx-Oracle==8.3.0
dj-database-url==1.0.0
Django==4.1
et-xmlfile==1.1.0
executing==0.5.4
future==0.18.2
gunicorn==20.0.4
filelock==3.0.12
h11==0.12.0
httpcore==0.15.0
httpx==0.23.0
idna==3.3
importlib-metadata==4.12.0
install==1.3.5
jdcal==1.4.1
JsonForm==0.0.2
jsonschema==4.4.0
JsonSir==0.0.2
lief==0.12.1
mysql-connector-python==8.0.28
numpy==1.20.2
openpyxl==2.6.3
packaging==21.3
pandas==1.2.4
pefile==2022.5.30
Pillow==9.2.0
psycopg==3.0.16
psycopg2==2.9.3
pure-eval==0.2.1
pycodestyle==2.8.0
pydub==0.25.1
pyinstaller==5.2
pyinstaller-hooks-contrib==2022.8
pyparsing==3.0.9
pyrsistent==0.18.1
python-bidi==0.4.2
python-dateutil==2.8.1
Python-EasyConfig==0.1.7
pytz==2021.1
pywin32-ctypes==0.2.0
PyYAML==6.0
ratelimiter==1.2.0.post0
requests==2.28.1
Resource==0.2.1
resources==0.0.1
rfc3986==1.5.0
six==1.15.0
sniffio==1.2.0
sqlparse==0.4.2
toml==0.10.2
tzdata==2022.1
urllib3==1.26.12
varname==0.6.3
xlrd==2.0.1
XlsxWriter==1.4.2
xlutils==2.0.0
xlwt==1.3.0
zipp==3.8.1
