{% load static %}

<footer>
    <br /><br /><br /><br />
    <hr
      style="
        width: 100%;
        text-align: center;
        margin-left: 0;
        color: darkslategray;
        height: 2px;
      "
    />
    <br />
    <center>
      <a class="custom-logo-link-footer img" href="http://www.biosunlab.com/">
        <img src="{% static 'logo.png' %}" class="img-fluid" alt="logo" />
      </a>
      &nbsp;
      <a class="custom-logo-link-footer img" href="#">
        <img src="{% static 'nci.png' %}" class="img-fluid" alt="nci" />
      </a>
    </center>
    <p
      class="text-center"
      style="font-family: Arial; color: lightslategrey; font-size: 15px"
    >
      <small>
        Created by Lucas Wilken, Nijhum Paul & Sara Tolba Selim for BIOSUN/Biosensing Lab,
        organized by Dr. Dali Sun.<br />
        This work used resources of the Center for Computationally Assisted
        Science and Technology (CCAST) at North Dakota State University.<br />
        This work was financially supported by grants from the National Cancer
        Institute (R03CA252783, R21CA270748) and the National Institute of
        General Medical Sciences (U54GM128729) of National Institutes of
        Health. <br />
        <br />
      </small>
      <a href="https://pubs.acs.org/doi/full/10.1021/acssensors.1c02022"
        >Cite this:</a
      >
      <small> <em>ACS Sens.</em> 2021, 6, 12, 4489–4498</small>
    </p>
  </footer>
