<div class="card-invalid">
    <div class="card-body align-items-center">
        <h1 class="text-center" style="font-family: Arial; color: cadetblue; font-size: 25px; font-weight: 700;">Invalid Search Request</h1>
        <p class="text-center" style="font-family:Arial; color:lightslategrey; font-size: 15px;">Something went wrong with the file upload - check that the file type is a .csv and it contains a column with the name 'Accession'.</p>
        <br /><br />
        <div class="d-flex p-2 flex-row justify-content-center">
            <div class="p-2">
                <button onclick="history.go(-1)" class="help_btn" style="border: 0; border-radius: 5px; padding: 4px 10px;">
                    <i class="fa-solid fa-arrow-left"></i> GO BACK
                </button>
            </div>
        </div>
    </div>
</div>
